<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="icon" th:href="@{/pictures/mail-box.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add message</title>
</head>
<body>
    <div class="form-container">
       <h1>Add message</h1>
    <form th:action="@{/messageboardweb/addnewmessage}" method="post" th:object="${formdata}" class="forms">
        <input type="text" th:field="*{name}" placeholder="Name" class="text-inputs"/>
        <input type="text" th:field="*{message}" placeholder="Message" class="text-inputs"/>
        <button type="submit" class="btn">Submit</button>
    </form>

    </div>
   
</body>
</html>
