<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Welcome to Message board</title>
</head>
<body>
    <div class="title-container">
        <h1 class="title">Message board</h1>
        <img th:src="@{/pictures/mail-box.png}" class="title-pic">
    </div>
   
<div class="message-board-container">
   <div th:each="m: ${message}">
      <p th:text="${m.name}"></p>
      <p th:text="${m.message}"></p>
      <button class="btn">Delete message</button>
   </div>
</div>

    <div>
        <form th:action="@{AddMessage}" method="get">
           <button class="btn">Add new Message</button>
        </form>
      
    </div>
</body>
</html>
